.bg-container {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  font-family: roboto;
  padding: 50px;
}
.top-heading-title-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  display: flex;
  flex-direction: row;
  background-size: cover;
  height: 180px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
}
.heading-welcome-container {
  margin-top: 25px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.top-heading {
  color: #475569;
}
.welcome-paragraph {
  color: #7e858e;
}
.money-manager {
  color: #0b69ff;
}

.balance-Income-Expense-container {
  display: flex;
  flex-direction: row;
  background-size: cover;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
  overflow: auto;
}

.card-container {
  font-family: roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
  border-radius: 12px;
  flex-wrap: wrap;
  overflow: auto;
}
.balance-background-border-color {
  border: #84cc16 solid 1px;
  background-color: #ecfccb;
  margin: 10px;
}
.income-background-border-color {
  border: #06b6d4 solid 1px;
  background-color: #cffafe;
  margin: 10px;
}
.expense-background-border-color {
  border: #7c3aed solid 1px;
  background-color: #ede9fe;
  margin: 10px;
}
.balance {
  font-size: 25px;
}

.color {
  color: #334155;
}
.img-size {
  height: 50px;
  align-self: center;
}
.transaction-history-container {
  display: flex;
  flex-direction: row;
}
.transaction-container {
  margin-top: 25px;
  border: #7e858e solid 1px;
  font-family: roboto;
  padding: 35px;
  border-radius: 12px;
  overflow: auto;
  flex-wrap: wrap;
  width: 100%;
}
.transaction-history-heading {
  font-size: 20px;
  color: #1e293b;
}
.title-input {
  border: #7e858e solid 1px;
  height: 45px;
  width: 100%;
  padding-left: 15px;
}
.amount-input {
  border: #7e858e solid 1px;
  height: 45px;
  width: 100%;
  padding-left: 15px;
}
.button-container {
  margin-top: 25px;
}
.option-style {
  border: #7e858e solid 1px;
  height: 45px;
  width: 100%;
  padding-left: 15px;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  border: solid 0px;
  height: 25px;
  font-family: roboto;
  width: 60px;
  border-radius: 6px;
}
.history-container {
  margin-top: 25px;
  border: #7e858e solid 1px;
  font-family: roboto;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  overflow: auto;
  flex-wrap: wrap;
  margin-left: 25px;
  list-style-type: none;
}
.title-amount-type-container {
  height: 25;
  width: 100%;
  border: #7e858e solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
}
.history {
  color: #1e293b;
  font-weight: bold;
}
.list-container-array {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  overflow: auto;
}
